
body {
    background-image: url('img/logo.png');
    background-position: center;
    font-family: 'Arial', sans-serif;
    width: 150px;
    height: 250px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

.login-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    max-width: 800px; /* Set the maximum width of the login container */
    width: 300%; /* Set the width to a percentage of the viewport width */
    margin: 0 auto;
    margin-left: -144px;/* Center the login container horizontally */
    
}

.login-form {
    width: 100%; /* Set the form width to 100% of the container */
    max-width: 400px; /* Set the maximum width of the form */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px; /* Increased padding for more spacing */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 50px;
    border-radius: 25px;
}

.forgot-link {
    margin-top: 10px;
    color: #555;
}

.btn-custom {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 25px;
}

.btn-custom:hover {
    background-color: #0056b3;
}
